[submodule "Assets/Includes/VFW-improved"]
	path = Assets/Includes/VFW-improved
	url = https://github.com/MHDante/VFW.git
[submodule "Assets/Includes/unity-ui-extensions"]
	path = Assets/Includes/unity-ui-extensions
	url = https://bitbucket.org/MHDante/unity-ui-extensions.git
